@using Entidades;
@model  Entidades.Version





<h3>Detalle de Version </h3>
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-success btn-sm" > Aprobar </button>
                <button type="button" class="btn btn-danger btn-sm" > Rechazar Todo </button>
                <button type="button" class="btn btn-info btn-sm" > Enviar Aprobación </button>

            </div>
            <div class="col-sm-6 " role="group" aria-label="...">
                <div class="dropdown" style="float: right;">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Materiales y Suministros
                        <span class="caret"></span>
                    </button>
                    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Materiales y Suministros</a></li>
                        <li><a href="#">Servicios</a></li>
                    </ul>
                </div>
                
                <div style="float: right;margin-right:5px;">
                     <button type="button" class="btn btn-warning btn-sm">
                        Agregar Ítem
                     </button>
                </div>
            </div>
            
        </div><br/>
        <div class="row">
            <div class="col-sm-6">
                <div class="estado">
                    <div class="estado-ind estado-ind-verde" ></div>
                    <label>Aprobado</label>
                </div>
                <div class="estado">
                    <div class="estado-ind estado-ind-blanco"></div>
                    <label>En Edición</label>
                </div>
                <div class="estado">
                    <div class="estado-ind estado-ind-rojo"></div>
                    <label>Observado</label>
                </div>

            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar ... ">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Buscar</button>
                    </span>
                </div>
            </div>
        </div><br/>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <tr>
                        <td><b>#</b></td>
                        <td><b>Código</b></td>
                        <td><b>Descripción</b></td>
                        <td><b>Unid.</b></td>
                        <td><b>Precio Unit.</b></td>
                        <td><b>Cantidad</b></td>
                        <td><b>Precio</b></td>
                        <td></td>
                    </tr>
                    @foreach (var item in Model.detalles)
                    {
                        <tr class="success">
                            <td>@item.idDetalle</td>
                            <td>@Html.DisplayFor(modelItem => item.mat.codProducto )</td>
                            <td>@Html.DisplayFor(modelItem => item.mat.desc )</td>
                            <td>@Html.DisplayFor(modelItem => item.uniSoli)</td>
                            <td>@Html.DisplayFor(modelItem => item.precioSoli)</td>
                            <td>@Html.DisplayFor(modelItem => item.cantidadSoli )</td>
                            <td>@Html.DisplayFor(modelItem => item.totalSoli)</td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Aprobar</button>
                                <button type="button" class="btn btn-warning btn-xs" onclick="ExpandirDetalle('@item.idDetalle')">Editar</button>
                                <button type="button" class="btn btn-primary btn-xs" onclick="ExpandirObservaciones('@item.idDetalle')">Obser</button>
                                <button type="button" class="btn btn-danger btn-xs">Eliminar</button>
                                
                            </td>
                        </tr>
                    <tr style="display:none;" id="DETALLE_@item.idDetalle">
                        <td colspan="8">
                            <div class="col-sm-12" id="DETALLEDIV_@item.idDetalle">

                            </div>
                            
                        </td>
                    </tr> 
                    }

                </table>
            </div>
        </div>
       
    </div>
</div>

