@using Entidades;
@model Presupuesto

@if (Model != null && !string.IsNullOrEmpty(Model.nombrePresupuesto))
{
<center><h3>Presupuestos por Área</h3></center>
<center><h4><strong>@Model.nombrePresupuesto</strong></h4></center>
<div class="list-group">   
   
        @if (Model.presupuestosArea != null)
        {
            foreach (PresupuestoArea presup in Model.presupuestosArea)
            {

            <div href="#" class="list-group-item est-edicion">
                <div class="row">
                    <div class="col-sm-6 excesodiv">
                        @Html.ActionLink("<h4 class=\"list - group - item - heading\">Presupuesto de <strong>"+presup.area+"</strong></h4>", "PresupArea","Presupuesto")
                       
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><h5 class="list-group-item-heading">Aprobar</h5></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><h5 class="list-group-item-heading"></h5></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Codigo:</div>
                    <div class="col-sm-3">@presup.area.codArea</div>
                    <div class="col-sm-3">Monto:</div>
                    <div class="col-sm-3">S/ @presup.monto.ToString("### ### ###.##")</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Ultima Modif:</div>
                    <div class="col-sm-3">@presup.UltModifFec.ToShortDateString()</div>
                    <div class="col-sm-3">Desde:</div>
                    <div class="col-sm-3">@presup.fechaValIni.ToShortDateString()</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Aprobado por:</div>
                    <div class="col-sm-3"><a href="#">Ver</a></div>
                    <div class="col-sm-3">Hasta:</div>
                    <div class="col-sm-3">@presup.fechaValFin.ToShortDateString()</div>
                </div>
            </div>
            }
        }
    
</div>
}
else
{

    <div class="row" style="height: 120px;"><center><h3>No se encontró datos del presupuesto </h3></center></div>
}