@using AppV2.Models;
@model  IEnumerable<AppV2.Models.ViewTipoPresupuesto>


<div class="list-group">

    @foreach (ViewTipoPresupuesto preArea in Model)
    {

        <a href="#" onclick="listarVersiones(1,1,1);" class="list-group-item list-group-item-action flex-column align-items-start ">

            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1"><strong>@preArea.nomTipoPresup </strong> </h4>
            </div>

            <div class="row">
                <div class="col-sm-6 ">
                    <h5>@Html.LabelFor(model => preArea.desde) @preArea.ultimaModif</h5>
                    <h5>@Html.LabelFor(model => preArea.hasta) @preArea.codTipoPresup </h5>
                    <h5>Verificado Por: </h5>
                </div>
                <div class="col-sm-6 ">
                    <h5>@Html.LabelFor(model => preArea.desde) @preArea.monto</h5>
                    <h5>@Html.LabelFor(model => preArea.desde) @preArea.desde</h5>
                    <h5>@Html.LabelFor(model => preArea.hasta) @preArea.hasta </h5>
                </div>
            </div>
        </a>

    }


</div>

